@font-face {
    font-family: wonderbar;
    src: url(../fonts/Wonderbar-pALD.ttf);
}

body {
    background-color:  #1f1e29;
}


#container-div{
    color:beige;
    margin: 10%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;

}

#myCanvas{
    background-image: url('../images/starry-sky.avif')

}


#score-chart{
    color: white;
    font-size: 30px;
    padding: 50px;
    margin: 10px;
    text-align: center;
}

p{
    color: white;
    font-family: wonderbar;

}

